---
interface Props {
    title: string;
    body: string;
    image: string;
    alt: string;
    boton: string;
  }

  const { title, body, image, alt, boton} = Astro.props;
---  
<div class="link-card inline-block max-w-sm w-20rem mx-auto m-8 shadow-3 p-2 bg-white rounded">
      <h2 class="text-center p-5">
        {title}
      </h2>
      <img src={image} alt={alt} class="mx-auto w-64 h-auto rounded-lg shadow-md" />
      <p class="text-center">{body}</p>
      <button class="bg-blue-500 text-white p-2 rounded mx-auto block" onclick={boton}>
        !Solicita tu clase gratis!
      </button>

</div>


  


<script is:inline>
  function openModal(cat) {
    document.getElementById("myModal").classList.remove("hidden");
    document.getElementById("myModal").classList.add("animate-jump-in");
    document.getElementById('categoria').value=cat;
  }
</script>